/********************
    Body
**************/
body{
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
#menu-bar{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #FFF;
    box-shadow: 0px 2px 4px 0px #F4F4F5;
    border-bottom: 1px solid #DEDEDE;
    z-index: 9999;
}
.logo-gbata{
    width: 80px;
    height: 80px;
}

/*::::::::::: menu ::::::::::::::*/
#menu-sm{
    display: none;
}
#menu{
    padding-top: 2em;
    margin: 0;
    z-index: 99;
}
#menu .menu-item{
    list-style: none;
    display: inline-block;
    margin-right: 1.5em;
}
#menu .menu-item .menu-link:hover{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}
.connexion-btn-style a{
    border: 1px solid #0F75BC;
    padding: 0.7em 1.5em 0.7em 1.5em;
    border-radius: 5px;
    font-weight: bold;
    color: #0F75BC;
    background-color: #FFF;
    transition: 0.2s;
}
.connexion-btn-style:hover a{
    text-decoration: none;
    background-color: #0F75BC;
    color: #FFF;
}
/*::::::::::: end menu :::::::::::*/

.help-block{
    font-weight: bold;
    color: red;
}

/*::::::::::: search box :::::::::::*/
.search-box{
    width: 100%;
    height: 504px;
    background-color: #4C4C4C;
    margin-top: 6em;
}
.search-box-text{
    text-align: center;
    margin-top: 10.5em;
}
.search-box-text span{
    color: #FFF;
    font-size: 4.9em;
    line-height: 1;
}
.search-box-form{
    width: 90%;
    height: 180px;
    background-color: #808080;
    border-radius: 5px;
    margin-top: 2em;
    margin-left: 3.8em;
    padding: 15px;
}
.search-box-button{
    background-color: #0F75BC;
    padding: 1em 2em 1em 2em;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #0F75BC;
    width: 100%;
    border-radius: 3px;
}
.search-box-button:hover{
    background-color: rgb(12, 93, 149);
    border: 1px solid rgb(12, 93, 149);
}
/* :::::::::::::: avantage :::::::::::::::*/
.rubrique-title span{
    font-size: 4.5em;
    font-weight: bold;
    color: #4C4F52;
}
.bar{
    width: 100%;
    background-color: #D9DADA;
    height: 1px;
}
.rubrique-icon{
    border: 1px solid #D9DADA;
    padding: 7px;
    border-radius: 100%;
    color: #0F75BC;
    position: absolute;
    top: 5px;
    left: 48%;
    background-color: #FFF;
}
.block-blue{
    height: 370px;
    background-color: #2185D0;
}
.block-blue-text{
    margin-top: 4em;
    color: #FFF;
    font-size: 1em;
    line-height: 1;
}
.bien-immobilier-button{
    padding: 1em 2em 1em 2em;
    background-color: #2185D0;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}
.bien-immobilier-button:hover{
     color: #2185D0;
     background-color: #FFF;
     text-decoration: none;
 }
.proprietaire-immobilier-button{

    padding: 1em 2em 1em 2em;
    background-color: #FFF;
    border: 1px solid #2185D0;
    border-radius: 3px;
    color: #2185D0;
    font-weight: bold;
    font-size: 16px;
}
.proprietaire-immobilier-button:hover{
    color: #FFF;
    background-color: #2185D0;
    text-decoration: none;
}

/*::::::::::: footer ::::::::::::::*/
.block-footer{
    background-color: #363C41;
    padding: 2em;
}
.block-footer a{
    color: #FFF;
}
.block-footer a:hover{
    color: #FFF;
}

.social-block .reseau-social{
    border: 1px solid #FFF;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #2185D0;
    display: inline-block;
    margin-right: 5px;
}
.reseau-social a{
    color: #2185D0;
}

.top{
    position: absolute;
    bottom: 0;
    right: 0;
}
.top a{
    padding: 1em;
    background-color: #292D31;
    color: #FFF;
    border-radius: 3px;
    transition: .5s;
}
.top a:hover{
    background-color: #2185D0;
    text-decoration: none;
}
.back-to-top {

}

/*:::::::::::::::::::::::::::::::: page connexion ::::::::::::::::::::::::::::::::*/

.connexion-form{
    width: 500px;
    border: 1px solid #999;

    padding: 2em;
}
.form-logo{
    margin-top: 9em;
    text-align: center;
    border: 1px solid #C8C9CA;
    border-radius: 4px;
    background-color: #F8F8F9;
    /*margin-left: 30em;*/
    width: 450px;
    height: 70px;
}
.form-logo img{
    width: 60px;
    height: 60px;
}
.form-message{
    width: 450px;
    height: 45px;
    color: #8B6A1B;
    background-color: #FFF8DB;
    border-radius: 4px;
    border: 1px solid #AA7905;
    text-align: center;
    padding: 10px;
    /*margin-left: 40%;*/
    margin-top: 1em;
    font-weight: bold;
}
#close:hover{
    cursor: pointer;
    color: rgba(0,0,0,0.4);
}
.form-content{
    padding: 1em;
    margin-top: 1em;
    background-color: #F3F4F5;
    text-align: center;
    width: 450px;
    border-radius: 4px;
    border: 1px solid #C8C9CA;
}
.connexion-button{
    border: 1px solid #0F75BC;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    background-color: #0F75BC;
}
.form-control{
    border: 1px solid #DDDDDD;
    height: 40px;
}
.mp-perdu{
    border: 1px solid #0F75BC;
    padding: 5px 15px;
    color: #0F75BC;
    background-color: #FFF;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 4px;
    position: absolute;
    right: 0.3em;
    top: 5px;
    z-index:9;
    font-size: 12px;
    font-weight: bold;
}
.mp-perdu:hover{
    border: 1px solid #0F75BC;
    color: #FFF;
    background-color: #0F75BC;
    text-decoration: none;
}
.form-register{
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    border: 1px solid #C8C9CA;
    border-radius: 4px;
    background-color: #F8F8F9;
    /*margin-left: 30em;*/
    width: 450px;
    height: 50px;
}
.form-register a:hover{
    text-decoration: none;
}
#connexion-page-background{
    background-image:-moz-linear-gradient(60deg, #E0E6FF, #FFFFFE);
    background-image:-webkit-linear-gradient(60deg, #E0E6FF, #FFFFFE);
    background-image:-o-linear-gradient(60deg, #E0E6FF, #FFFFFE);
    background-image:linear-gradient(100deg, #E0E6FF, #FEFCE4);
}


/*:::::::::::::::::::::::::::::::: end page connexion ::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::: page inscription ::::::::::::::::::::::::::::::::*/

.register-form-logo{
    margin-top: 9em;
    text-align: center;
    border: 1px solid #FFF;
    border-radius: 4px;
    background-color: #2185D0;
    width: 100%;
    height: 70px;
    color: #FFF;
}
.register-form-logo img{
    width: 60px;
    height: 60px;
}

.register-form-content{
    padding: 2em;
    margin-top: 1em;
    background-color: #F3F4F5;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #C8C9CA;
}






/*:::::::::::::::::::::::::::::::: end page inscription ::::::::::::::::::::::::::::::::*/

/*::::::::::::::::::::::::::::::::::: affichage tablette :::::::::::::::::::::::::*/
@media all and (min-width: 960px) and (max-width: 1280px){

    .search-box-text{
        margin-top: 4em;
    }
    .search-box-form{
        height: 200px;
    }

}

@media all and (min-width: 770px) and (max-width: 959px){

    #menu{
        display: none;
    }
    #menu-sm{
        display: block;
    }
    #menu-sm{
        padding-top: 2em;
        margin: 0;
        z-index: 99;
    }

    #menu-sm li{
        list-style: none;
        display: block;
        margin-right: 1.5em;
    }
    #menu-sm li a:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.5);
    }
    #menu-sm li span{
        cursor: pointer;
    }
    #menu-sm #sous-menu-sm{
        position: absolute;
        right: 0.5em;
        visibility: hidden;
    }
    #menu-sm #sous-menu-sm li{
        border-bottom: 1px solid #FFF;
        background-color: #2185D0;
        padding: 5px;
        width: 200px;
        text-align: left;
    }
    #menu-sm #sous-menu-sm li:hover{
        background-color: #4C4C4C;
    }
    #menu-sm #sous-menu-sm a{
        color: #FFF;

    }
    #menu-sm #sous-menu-sm a:hover{
        color: #FFF;
        text-decoration: none;
        padding-left: 10px;
        transition: 0.2s;
    }

    .search-box{
        height: 540px;
    }
    .search-box-text{
        margin-top: 1.5em;
    }
    .search-box-form{
        height: 210px;
    }
    .block-blue{
        height: 450px;
    }
}

@media all and (min-width: 490px) and (max-width: 769px){

    #menu-sm{
        position: absolute;
        top: -5em;
        right: 0;
        display: block;
    }

    #menu{
        display: none;
    }

    #menu-sm{
        padding-top: 2em;
        margin: 0;
        z-index: 99;
    }

    #menu-sm li{
        list-style: none;
        display: block;
        margin-right: 1.5em;
    }
    #menu-sm li a:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.5);
    }
    #menu-sm li span{
        cursor: pointer;
    }
    #menu-sm #sous-menu-sm{
        position: absolute;
        right: 0.5em;
        visibility: hidden;
    }
    #menu-sm #sous-menu-sm li{
        border-bottom: 1px solid #FFF;
        background-color: #2185D0;
        padding: 5px;
        width: 200px;
        text-align: left;
    }
    #menu-sm #sous-menu-sm li:hover{
        background-color: #4C4C4C;
    }
    #menu-sm #sous-menu-sm a{
        color: #FFF;

    }
    #menu-sm #sous-menu-sm a:hover{
        color: #FFF;
        text-decoration: none;
        padding-left: 10px;
        transition: 0.2s;
    }

    .search-box{
        height: 700px;
    }
    .search-box-text{
        margin-top: 1em;
    }
    .search-box-form{
        height: 280px;
    }
    .block-blue{
        height: 500px;
    }
}

@media all and (min-width: 321px) and (max-width: 489px){

    #menu-sm{
        position: absolute;
        top: -5em;
        right: 0;
        display: block;
    }

    #menu{
        display: none;
    }

    #menu-sm{
        padding-top: 2em;
        margin: 0;
        z-index: 99;
    }

    #menu-sm li{
        list-style: none;
        display: block;
        margin-right: 1.5em;
    }
    #menu-sm li a:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.5);
    }
    #menu-sm li span{
        cursor: pointer;
    }
    #menu-sm #sous-menu-sm{
        position: absolute;
        right: 0.5em;
        visibility: hidden;
    }
    #menu-sm #sous-menu-sm li{
        border-bottom: 1px solid #FFF;
        background-color: #2185D0;
        padding: 5px;
        width: 200px;
        text-align: left;
    }
    #menu-sm #sous-menu-sm li:hover{
        background-color: #4C4C4C;
    }
    #menu-sm #sous-menu-sm a{
        color: #FFF;

    }
    #menu-sm #sous-menu-sm a:hover{
        color: #FFF;
        text-decoration: none;
        padding-left: 10px;
        transition: 0.2s;
    }

    .search-box{
        height: 700px;
    }
    .search-box-text{
        margin-top: 1em;
    }
    .search-box-form{
        height: 280px;
        display: none;
    }
    .block-blue{
        height: 500px;
    }
}
@media all and (max-width: 320px){

    #menu-sm{
        position: absolute;
        top: -5em;
        right: 0;
        display: block;
    }

    #menu{
        display: none;
    }

    #menu-sm{
        padding-top: 2em;
        margin: 0;
        z-index: 99;
    }

    #menu-sm li{
        list-style: none;
        display: block;
        margin-right: 1.5em;
    }
    #menu-sm li a:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.5);
    }
    #menu-sm li span{
        cursor: pointer;
    }
    #menu-sm #sous-menu-sm{
        position: absolute;
        right: 0.5em;
        visibility: hidden;
    }
    #menu-sm #sous-menu-sm li{
        border-bottom: 1px solid #FFF;
        background-color: #2185D0;
        padding: 5px;
        width: 200px;
        text-align: left;
    }
    #menu-sm #sous-menu-sm li:hover{
        background-color: #4C4C4C;
    }
    #menu-sm #sous-menu-sm a{
        color: #FFF;

    }
    #menu-sm #sous-menu-sm a:hover{
        color: #FFF;
        text-decoration: none;
        padding-left: 10px;
        transition: 0.2s;
    }

    .search-box{
        height: 1000px;
    }
    .search-box-text{
        margin-top: 1em;
    }
    .search-box-form{
        display: none;
    }
    .block-blue{
        height: 600px;
    }
}
