.offre-block{
    padding: 7px;
    border: 1px solid #F5F5F5;
}
.offre-img-block{
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.offre-block .block-vert{
    z-index: 9;
    position: absolute;
    top: 1.5em;
    left: 2.5em;
    font-weight: bold;
    border: 1px solid #77C620;
    background-color: #77C620;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.offre-block .block-noir{
    z-index: 9;
    position: absolute;
    top: 1.5em;
    right: 2.5em;
    font-weight: bold;
    border: 1px solid #333333;
    background-color: #333333;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.offre-block .block-prix{
    z-index: 9;
    position: absolute;
    top: 15.5em;
    left: 2em;
    font-weight: bold;
    color: #FFF;
    font-size: 16px;
}

.offre-block .block-favorite{
    z-index: 9;
    position: absolute;
    top: 20em;
    right: 3em;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background-color: #000;
    opacity: 0.7;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.offre-block .block-favorite:hover{
    background-color: #00AEEF;
}

.offre-block .block-favorite a{
    color: #FFF;
}
.offre-block .block-favorite a:hover{
    text-decoration: none;
}

.offre-img{
    width: 100%;
    height: 270px;
    transition: 0.2s;
}

.offre-block:hover .offre-img{
    transform: scale(1.1);
}

.offre-name{
    padding: 5px;
}
.offre-name .name{
    display: block;
    font-weight: bold;
    font-size: 20px;
}
.offre-name .city-name{
    color: #9d9d9d;
    font-weight: 500;
    font-size: 15px;
}
.offre-name .detail-button{
    border: 1px solid #00AEEF;
    padding: 10px 1em 10px 1em;
    background-color: #00AEEF;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}
.offre-name .detail-button:hover{
    text-decoration: none;
}
.offre-date{
    border: 1px solid #F5F5F5;
}
.offre-date span{
    font-size: 12px;
    color: #9d9d9d;
}
.location-link{
    display: inline-block;
    padding: 0.7em 2em;
    background-color: #EBEBEB;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
.vente-link{
    display: inline-block;
    padding: 0.7em 2em;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
.vente-link a{
    color: #000;
}
.location-link a{
    color: #000;
}
.sidebar-offre .recherche{
    padding: 5px;
    /*background-color: #808080;*/
    border: 1px solid #00AEEF;
    color: #00AEEF;
    border-radius: 4px;
}
.sidebar-offre .recherche span{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.sidebar-offre .categorie{
    margin-top: 10px;
    padding: 5px;
    /*background-color: #808080;*/
    border: 1px solid #00AEEF;
    color: #00AEEF;
    border-radius: 4px;
}
.sidebar-offre .categorie span{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.sidebar-offre .categorie li{
    list-style: none;
    padding: 5px;
}
.sidebar-offre .categorie li a{
    font-weight: 400;
    color: #000;
    font-size: 16px;
}

.associe{
    margin-top: 10px;
}
.associe .offre-block{
    padding: 7px;
    border: 1px solid #F5F5F5;
}
.associe .offre-img-block{
    width: 100%;
    height: 170px;
    border-radius: 4px;
    overflow: hidden;
}

.associe .block-vert{
    z-index: 9 !important;
    position: absolute;
    bottom: 11em;
    left: 2.5em;
    font-weight: bold;
    border: 1px solid #77C620;
    background-color: #77C620;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.associe .block-noir{
    z-index: 9;
    position: absolute;
    bottom: 11em;
    right: 2.5em;
    font-weight: bold;
    border: 1px solid #333333;
    background-color: #333333;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.associe .block-prix{
    z-index: 9;
    position: absolute;
    bottom: 0.3em;
    left: 2em;
    font-weight: bold;
    color: #FFF;
    font-size: 16px;
}

.associe .block-favorite{
    z-index: 9;
    position: absolute;
    bottom: 0.5em;
    right: 3em;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background-color: #000;
    opacity: 0.7;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.associe .block-favorite:hover{
    background-color: #00AEEF;
}

.associe .block-favorite a{
    color: #FFF;
}
.associe .block-favorite a:hover{
    text-decoration: none;
}

.associe .offre-img{
    width: 100%;
    height: 170px;
    transition: 0.2s;
}

.associe .offre-block:hover .offre-img{
    transform: scale(1.1);
}

/*:::::::::::::::::::::::::::::::: page detail ::::::::::::::::::::::::::::::::*/

.detail-page-style{
    width: 100%;
    padding: 1em;
    border: 1px solid #DDDDDD;
}

.detail-page-style .offre-name{
    font-size: 20px;
    padding: 5px;
}

.offre-slide-arrow{
    text-align: center;
}
.offre-slide-arrow .item{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.detail-page-style .control-right{
    z-index: 9;
    position: absolute;
    top: 23em;
    right: 3em;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background-color: #000;
    opacity: 0.7;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.detail-page-style .control-left{
    z-index: 9;
    position: absolute;
    top: 23em;
    left: 3em;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background-color: #000;
    opacity: 0.7;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.detail-page-style .control-left:hover{
    background-color: #00AEEF;
}

.detail-page-style .control-right:hover{
    background-color: #00AEEF;
}

.detail-page-style .carateristique{
    margin-top: 15px;
}
.detail-page-style .carateristique table{
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    background-color: #EEEEEE;
    color: #818799;
}
.detail-page-style .les-detail span{
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
}
.detail-page-style .les-detail table{
    margin-top: 15px;
}
.les-detail .diviseur{
    padding: 0;
    text-align: right;
    display: inline-block;
    margin-left: 5em;

}
.diviseur img{
    margin: -2px;
    text-align: right;
}
.detail-page-style .les-detail-over{
    padding: 10px;
}
.les-detail-over .col-sm-3{
    padding: 10px;
}
.les-detail-over .fa{
    color: green;
}

.detail-page-style .description span{
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
}
.detail-page-style .description table{
    margin-top: 15px;
}
.description .diviseur{
    padding: 0;
    text-align: right;
    display: inline-block;
    margin-left: 16em;

}
.description .col-sm-12{
    padding: 1.5em;
}