#list-page-search-box{
    border: 1px solid #FFF;
    width: 100%;
    padding: 2em;
    background-color: #0F75BC;
    border-radius: 6px;
    margin-bottom: 10px;
}
#list-page-search-box .search-box-button{
    /*background-image: linear-gradient(#F7C215 50%,#F79A15);*/
    background-color: darkcyan;
    padding: 1em 2em 1em 2em;
    color: #FFF;
    font-weight: bold;
    border-bottom: 2px solid #005EA8;
    width: 100%;
    border-radius: 5px;
}
#list-page-search-box .search-box-button:hover{
    background-image: linear-gradient(#F79A15 50%,#F7C215);
}

.offre-block{
    padding: 7px;
    border: 1px solid #ccc;
}
.offre-img-block{
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.offre-block .block-vert{
    z-index: 9;
    position: absolute;
    top: 1.5em;
    left: 2.5em;
    font-weight: bold;
    border: 1px solid #77C620;
    background-color: #77C620;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.offre-block .block-noir{
    z-index: 9;
    position: absolute;
    top: 1.5em;
    right: 2.5em;
    font-weight: bold;
    border: 1px solid #333333;
    background-color: #333333;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.offre-block .block-prix{
    z-index: 9;
    position: absolute;
    top: 15.5em;
    left: 2em;
    font-weight: bold;
    color: #FFF;
    font-size: 16px;
}

.offre-block .block-favorite{
    z-index: 9;
    position: absolute;
    top: 20em;
    right: 3em;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background-color: #000;
    opacity: 0.7;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.offre-block .block-favorite:hover{
    background-color: #00AEEF;
}

.offre-block .block-favorite a{
    color: #FFF;
}
.offre-block .block-favorite a:hover{
    text-decoration: none;
}

.offre-img{
    width: 100%;
    height: 270px;
    transition: 0.2s;
}

.offre-block:hover .offre-img{
    transform: scale(1.1);
}

.offre-name{
    padding: 5px;
}
.offre-name .name{
    display: block;
    font-weight: bold;
    font-size: 20px;
}
.offre-name .city-name{
    color: #9d9d9d;
    font-weight: 500;
    font-size: 15px;
}
.offre-name .detail-button{
    border: 1px solid #00AEEF;
    padding: 10px 1em 10px 1em;
    background-color: #00AEEF;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}
.offre-name .detail-button:hover{
    text-decoration: none;
}

.location-link{
    display: inline-block;
    padding: 0.7em 2em;
    background-color: #EBEBEB;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
.vente-link{
    display: inline-block;
    padding: 0.7em 2em;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
.vente-link a{
    color: #000;
}
.location-link a{
    color: #000;
}
.sidebar-offre .recherche{
    padding: 5px;
    /*background-color: #808080;*/
    border: 1px solid #dddddd;
    color: #00AEEF;
}
.sidebar-offre .recherche span{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.sidebar-offre .agence{
    padding: 5px;
    /*background-color: #808080;*/
    border: 1px solid #dddddd;
    color: #00AEEF;
}
.sidebar-offre .agence span{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.agence .agence_logo{
    text-align: center;
}

.service_agence li{
    list-style: none;
    font-size: 18px;
    overflow: hidden;
}
.service_agence li a{
    color: #0f0f0f;
    margin-left: -8px;
    transition: 0.2s;
}
.service_agence li a:hover{
    text-decoration: none;
    margin-left: 0;
    color: #00AEEF;
}

.sidebar-offre .categorie{
    margin-top: 10px;
    padding: 5px;
    /*background-color: #808080;*/
    border: 1px solid #00AEEF;
    color: #00AEEF;
    border-radius: 4px;
}
.sidebar-offre .categorie span{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.sidebar-offre .categorie li{
    list-style: none;
    padding: 5px;
}
.sidebar-offre .categorie li a{
    font-weight: 400;
    color: #000;
    font-size: 16px;
}

.associe{
    margin-top: 10px;
}
.associe .offre-block{
    padding: 7px;
    border: 1px solid #F5F5F5;
}
.associe .offre-img-block{
    width: 100%;
    height: 170px;
    border-radius: 4px;
    overflow: hidden;
}

.associe .block-vert{
    z-index: 9 !important;
    position: absolute;
    bottom: 11em;
    left: 2.5em;
    font-weight: bold;
    border: 1px solid #77C620;
    background-color: #77C620;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.associe .block-noir{
    z-index: 9;
    position: absolute;
    bottom: 11em;
    right: 2.5em;
    font-weight: bold;
    border: 1px solid #333333;
    background-color: #333333;
    color: #FFF;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.associe .block-prix{
    z-index: 9;
    position: absolute;
    bottom: 0.3em;
    left: 2em;
    font-weight: bold;
    color: #FFF;
    font-size: 16px;
}

.associe .block-favorite{
    z-index: 9;
    position: absolute;
    bottom: 0.5em;
    right: 3em;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background-color: #000;
    opacity: 0.7;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.associe .block-favorite:hover{
    background-color: #00AEEF;
}

.associe .block-favorite a{
    color: #FFF;
}
.associe .block-favorite a:hover{
    text-decoration: none;
}

.associe .offre-img{
    width: 100%;
    height: 170px;
    transition: 0.2s;
}

.associe .offre-block:hover .offre-img{
    transform: scale(1.1);
}

/*:::::::::::::::::::::::::::::::: page detail ::::::::::::::::::::::::::::::::*/

#offers-detail-page .offers-references{
    background-color: #FFF;
    border-radius: 5px;
    padding: 0.5em 2em;
}
#offers-detail-page .offers-references .offers-name-price .name{
    color: #0F75BC;
    font-size: 2em;
}
#offers-detail-page .offers-references .offers-name-price .ref{
    color: #737373;
    font-size: 12px;
    display: block;
}
#offers-detail-page .offers-references .offers-name-price .price{
    color: #00a7d0;
    font-size: 1.5em;
}
#offers-detail-page .offers-references .offers-name-price .favorie-button{
    padding: 2em 1em;
}
#offers-detail-page .offers-references .offers-name-price .favorie-button a{
    padding: 1em;
    font-size: 14px;
    border: 1px solid #0F75BC;
    background-color: #FFF;
    color: #0F75BC;
    border-radius: 5px;
}
#offers-detail-page .offers-references .offers-name-price .favorie-button a:hover{
    text-decoration: none;
    color: #008B8B;
    border: 1px solid #008B8B;
}
.offre-slide-arrow{
    text-align: center;
}
.offre-slide-arrow .item{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
#offers-detail-page .control-right{
    z-index: 9;
    position: absolute;
    top: 5em;
    right: 0.5em;
    color: #0F75BC;
    font-size: 3em;
    background-color: #FFF;
    padding: 0 15px 10px;
    border-radius: 100%;
    cursor: pointer;
    width: 45px;
    height: 45px;
}
#offers-detail-page .control-left{
    z-index: 9;
    position: absolute;
    top: 5em;
    left: 0.5em;
    color: #0F75BC;
    font-size: 3em;
    background-color: #FFF;
    padding: 0 15px 10px;
    border-radius: 100%;
    cursor: pointer;
    width: 45px;
    height: 45px;
}
#offers-detail-page .carateristique{
    margin-top: 15px;
}
#offers-detail-page .carateristique table{
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    background-color: #EEEEEE;
    color: #818799;
}

.les-detail span{
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
}
#offers-detail-page .les-detail table{
    margin-top: 15px;
}
#offers-detail-page .les-detail .diviseur{
    padding: 0;
    text-align: right;
    display: inline-block;
    margin-left: 5em;

}
#offers-detail-page .diviseur img{
    margin: -2px;
    text-align: right;
}
#offers-detail-page .les-detail-over{
    padding: 10px;
}

#offers-detail-page .description span{
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
}
#offers-detail-page .description table{
    margin-top: 15px;
}
#offers-detail-page .description .diviseur{
    padding: 0;
    text-align: right;
    display: inline-block;
    margin-left: 16em;

}
#offers-detail-page .description .col-sm-12{
    padding: 1.5em;
}
#offers-detail-page .localisation span{
    text-transform: uppercase;
}
#offers-detail-page .localisation .diviseur{
    padding: 0;
    text-align: right;
    display: inline-block;
    margin-left: 18em;

}

/*::::::::::::::: detail page side bar ::::::::::::::::::::*/
.detail-page-sidebar{
    padding: 0;
    border: 1px solid #dddddd;
}

.agency img{
    width: 100%;
    height: 250px;
}
.favori-button{
    padding: 1em;
    border: 1px solid #2ab27b;
    color: #2ab27b;
    border-radius: 4px;
    width: 100%;
}
.favori-button:hover{
    background-color: #2ab27b;
    text-decoration: none;
    color: #FFF;
}